---
---
@import "mixins/flexbox";
@import "mixins/columns";
@import "variables";
@import "elements";
@import "landing-page";
@import "layout";
@import "navigation";
@import "footer";

@keyframes keyframes {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0);
    }
}

#signup {
    position: fixed; 
    bottom: -200px; 
    left: 20px;
    z-index: 1000; 
    width: 300px;
    transition: bottom 0.2s ease-out;
    cursor: pointer;
}

#signup label {
    cursor: pointer;
}

#signup.show {
    bottom: 10px;
    transition: bottom 0.3s ease-in;
}

#signup.pulse {
    animation: keyframes 0.3s ease-in-out;
}

#mc_embed_signup {
    font-family: 'Noto Sans', sans-serif !important;
    font-family: 'Raleway', sans-serif !important;
}